{% extends 'top.html' %}
{% block content %}
<!-- パスワードを穴あきで表示する -->
<div><div>パスワード</div>{{form.cleaned_data.password}}</div>
<form class="" action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
    {{field.as_hidden}}
    {% endfor %}
    <button class="" name="next" value="back" type="submit">コレジャナイ感...</button>
    <button class="" name="next" value="regist" type="submit">登録</button>
</form>


    <!-- <p class="inputform_description">彼氏さんのニックネーム</p>
    <div class="login_input"></div>
    <p class="inputform_description">彼氏さんのメールアドレス</p>
    <div class="login_input"></div>
    <p class="inputform_description">彼女さんのニックネーム</p>
    <div class="login_input"></div>
    <p class="inputform_description">彼女さんのメールアドレス</p>
    <div class="login_input"></div>
    <p class="inputform_description">ふたりのパスワード</p>
    <div class="login_input"></div>
    <p class="signup_btn_on_signup">サインアップ</p> -->
{% endblock %}