{% extends 'top.html' %}
{% block content %}
<p>💕入力内容を確認してね💕</p>
<div>ニックネーム：{{form.cleaned_data.username}}</div>
<div>メールアドレス:{{form.cleaned_data.email}}</div>
<div>男性？:{{form.cleaned_data.is_men}}</div>
<div>女性？:{{form.cleaned_data.is_girl}}</div>
<div>パスワード:********</div>
            
<form class="" action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
    {{field.as_hidden}}
    {% endfor %}
    <button class="" name="next" value="back" type="submit">修正</button>
    <button class="" name="next" value="regist" type="submit">登録</button>
</form>

    <!-- <p class="inputform_description">彼氏さんのニックネーム</p>
    <div class="login_input"></div>
    <p class="inputform_description">彼氏さんのメールアドレス</p>
    <div class="login_input"></div>
    <p class="inputform_description">彼女さんのニックネーム</p>
    <div class="login_input"></div>
    <p class="inputform_description">彼女さんのメールアドレス</p>
    <div class="login_input"></div>
    <p class="inputform_description">ふたりのパスワード</p>
    <div class="login_input"></div>
    <p class="signup_btn_on_signup">サインアップ</p> -->
{% endblock %}