{% extends 'home.html' %}
{% block title %}{{ block.super }}{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="create_omoide_input_form">
    <form  class="ui form" action="{% url 'base:create_omoide'　%}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="field">
            <label class="">二人の思い出にタイトルをつけてね💕</label>
                {{form.title}}
                {% for error in form.title.errors %}
                <p style="color: blue;">{{error}}</p>
                {% endfor %}
        </div>
        <div class="field">
            <label class="">いつの出来事？</label>
            {{form.posttime}}
            {% for error in form.posttime.errors %}
            <p style="color: yellow;">{{error}}</p>
            {% endfor %}
        </div>
        <div class="field">
            <label class="">思い出の写真を登録してね！</label>
            {{form.thumbnail}}
            {% for error in form.thumbnail.errors %}
            <p style="color: green;">{{error}}</p>
            {% endfor %}
        </div>
        <div class="ui grid">
            <div class="two column row">
                <div class="left float column">
                    <button type="submit" class="ui teal button" name="next" value="confirm">これでOK!</button>
                </div>
                <div class="right float column">
                    <button type="submit" class="ui teal button" name="next" value="back">戻る</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}