{% extends 'top.html' %}
{% block content %}
<p>💕次は女性が登録してね💕</p>
<form class="" action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button class="" name="next" value="confirm" type="submit">確認</button>
</form>

    <!-- <p class="inputform_description">彼氏さんのニックネーム</p>
    <div class="login_input"></div>
    <p class="inputform_description">彼氏さんのメールアドレス</p>
    <div class="login_input"></div>
    <p class="inputform_description">彼女さんのニックネーム</p>
    <div class="login_input"></div>
    <p class="inputform_description">彼女さんのメールアドレス</p>
    <div class="login_input"></div>
    <p class="inputform_description">ふたりのパスワード</p>
    <div class="login_input"></div>
    <p class="signup_btn_on_signup">サインアップ</p> -->
{% endblock %}