{% extends 'top.html' %}
{% block content %}
<p>💕パスワード再生設定💕</p>
<p><a href="{% url 'accounts:login' %}">ログインページに</a>戻る</p>

    <!-- <p class="inputform_description">彼氏さんのニックネーム</p>
    <div class="login_input"></div>
    <p class="inputform_description">彼氏さんのメールアドレス</p>
    <div class="login_input"></div>
    <p class="inputform_description">彼女さんのニックネーム</p>
    <div class="login_input"></div>
    <p class="inputform_description">彼女さんのメールアドレス</p>
    <div class="login_input"></div>
    <p class="inputform_description">ふたりのパスワード</p>
    <div class="login_input"></div>
    <p class="signup_btn_on_signup">サインアップ</p> -->

    <!-- <p class="inputform_description">メールアドレス</p>
    <div class="login_input"></div>
    <p class="inputform_description">パスワード</p>
    <div class="login_input"></div>
    <p class="login_btn_on_login">ログイン</p> -->
{% endblock %}