{% extends 'top.html' %}
{% block content %}
<h3 class="ui header">💕 登録情報が変更できるよ 💕</h3>
<div class="ui segments">
    <div class="ui segment">ユーザー名：{{user.username}}</div>
    <div class="ui segment">メール：{% if user.email %}{{user.email}}{% else %}未設定{% endif %}</div>
    <div class="ui segment">パスワード：見せられないよ🥺</div>
</div>
<div class="fluid ui teal button">
    <a href="{% url 'accounts:change' %}">メールアドレス・ユーザーネームを変更する</a>
</div>
<div class="ui hidden divider"></div>
<div class="fluid ui teal button">
    <a href="{% url 'accounts:password_change' %}">パスワードを変更する</a>
</div>
<div class="ui hidden divider"></div>
<div class="fluid ui pink button">
    <a href="{% url 'base:omoidelist' %}">トップに戻る</a>
</div>
{% endblock %}