{% extends 'top.html' %}
{% block content %}
    <p class="inputform_description">彼氏さんのニックネーム</p>
    <div class="login_input"></div>
    <p class="inputform_description">彼氏さんのメールアドレス</p>
    <div class="login_input"></div>
    <p class="inputform_description">彼女さんのニックネーム</p>
    <div class="login_input"></div>
    <p class="inputform_description">彼女さんのメールアドレス</p>
    <div class="login_input"></div>
    <p class="inputform_description">ふたりのパスワード</p>
    <div class="login_input"></div>
    <p class="signup_btn_on_signup">サインアップ</p>
{% endblock %}